.info-detail {
  &__td {
    padding-bottom: 16px;
  }

  &__label {
    display: inline-flex;
    align-items: baseline;
    color: rgba(0,0,0,.85);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5715;
    text-align: start;
  }

  &__value {
    display: inline-flex;
    align-items: baseline;
    flex: 1 1;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 1.5715;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}